* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

ul {
  list-style: none;
}

:root {
  --yellow: hsl(52, 84%, 57%);
  --blue: hsl(203, 89%, 53%);
  --dark-blue: hsl(207,100%,10%);
}
body {
  background-color: gray;
  height: 6600px;
}

#container {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.first-page {
  height: 15.5%;
  width: 100%;
  max-width: 1280px;
  background-image: url(seaturtle-bg.jpg);

}

.menu{
  background-color:var(--dark-blue);
  opacity: 0.7;
  height:115px;
  z-index: 1;
  display: flex;
 
}
/*find hotels begin*/
.find-hotels {
  width: 100%;
  max-width: 1280px;
  height: 4%;
  background-color: var(--yellow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.find-hotels h2{
  font-size:25px;
}
.find-hotels-form {
  display: flex;
  flex-direction: row;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-right: 22px;
}

.input-box [type="text"] {
  height:33px;
  margin-top:15px;
}


.registerbtn {
  height: 40px;
  width: 176px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  margin-top:15px;

}
/*find hotels end*/

.article-1 {
  width: 100%;
  max-width: 1280px;
  height: 7.4%;
  background-color: #ffff;
  display: flex;
}

.article-1-img {
  width: 50%;
}

.article-content {
  width: 50%;
}

.article-1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-container {
  margin: 0 auto;
}
.article-content {
  height: 420px;
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.article-content h2 {
  height: 66px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.article-content p {
  height: 60px;
  margin-top: 20px;
}

.article-1-list {
  height: 165px;
  margin-top: 60px;
}

.article-1-list li {
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article-1-list i {
  margin-right: 20px;
  color: hsl(203, 89%, 53%);
}
/*our best begin*/
.our-best {
  width: 100%;
  max-width: 1280px;
  height: 8.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  background-color: white;
}
.our-best h1 {
  margin-bottom: 55px;
}
.our-best-list-container {
  display: flex;
  border: 1px solid white;
}

.services-list-left {
  height: 100%;
  width: 50%;
  margin-right: 155px;
}


.icon-best {
 margin-right: 50px;
 color:var(--blue);
}

.services-list-right {
  height: 100%;
  width: 50%;
}
.our-best-icon-and-info {
  display: flex;
  flex-direction: row;
  width: 420px;
  height: 75px;
  align-items: center;
}

/*our best end*/
.services-list {
  height: 300px;
  width: 955px;
  border: 1px solid white;
  margin-top: 55px;
}

/*trusted since begin*/
.trusted-since {
  color: white;
  width: 100%;
  max-width: 1280px;
  height: 9.24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  color: black;
  height: 330px;
  width: 310px;
  border-radius: 15px;
  background-color: #fff;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 100px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon i {
  font-size: 60px;
}

.card-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.price-yellow {
  width: 100%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.card-list {
 margin-top: 30px;
  height: 140px;
  margin-bottom: 0 auto;
}

.card-list li {
  margin-bottom: 7.5px;
}

.card-list i {
  color: var(--blue);
}

.trusted-surf {
  height: 8.93%;
  width: 100%;
  max-width: 1280px;
  border: 1px solid white;
}
